/* BODY */

body {
  font-family: "Poppins", sans-serif;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(../img/sfondo.png);
  background-size: auto;
}
/* HEADER */

header {
  background-color: #0099c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 20px;
}

#top {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  font-size: 1.2em;
  margin: 20px 0;
  padding: 20px;
}
li {
  margin: 1em;
}
.nav {
  color: #fff;
  text-decoration: none;
}

/* MAIN */
main {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  width: 400px;
  height: auto;
  padding: 20px;
  margin-top: 1em;
  text-align: left;
}

main h2 {
  font-size: 2em;
  margin: 20px 0;
  font-weight: bold;
}

p.author {
  color: grey;
  margin-top: 1 em;
  margin-bottom: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
.blu-border {
  border-bottom: 2px solid rgb(86, 86, 255);
}

th {
  background-color: rgb(86, 86, 255);
  color: white;
  text-align: center;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

thead {
  background-color: grey;
}

tbody tr:nth-child(even) {
  background-color: rgb(195, 195, 195);
}

b {
  color: purple;
  font-weight: bold;
}
main ul li {
  list-style-type: disc;
}
.box {
  width: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
main ol li {
  list-style-type: decimal;
}

caption {
  font-weight: bold;
  font-style: italic;
}

main a {
  color: #0099c6;
}

iframe {
  margin-top: 1em;
  width: 400px;
  height: 200px;
  border-radius: 12px;
}

.case {
  width: 400px;
  height: auto;
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
  background-color: rgb(178, 175, 175);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

div h3 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

div p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}
.email-form {
  display: flex;
  align-items: center;
}

.email-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 1px dashed rgb(43, 43, 43);
  margin-right: 10px;
  font-size: 16px;
}

.subscribe-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.articoli {
  text-align: center;
}

.data {
  text-align: right;
}

/* footer */

footer {
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 81, 84, 1) 100%
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 400px;
  height: auto;
  padding: 20px;
  margin-top: 1em;
  text-align: center;
}
address {
  margin-top: 2em;
}

.email {
  color: rgb(255, 0, 255);
  text-decoration: none;
  font-weight: bold;
}
